<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="images/x-icon" href="/src/minilogo.png" />
    <link href="/src/fonts.googleapis.com_css_family=Poppins_300,400,500,600,700,800,900.css" rel="stylesheet">
    <link rel="stylesheet" href="/src/stackpath.bootstrapcdn.com_font-awesome_4.7.0_css_font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Anagrafica</title>
</head>

<body>

    <a class="circle-wrap" href="#">
        <i class="fa fa-arrow-up"></i>
    </a>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <div class="p-4 pt-5">
                <h1><a href="/" class="logo">DoorEdit</a></h1>

                <p class="mb-0">
                    <%= user %> &emsp; - &emsp; <a href="/auth/logout">Log out</a>
                </p>
                <a href="/auth/changePassword">Cambia Password</a>

                <ul class="list-unstyled components mb-5 mt-5">
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        <a href="/anagraphic">Anagrafica</a>
                    </li>
                    <li>
                        <a href="#terminalsSubmenu" data-toggle="collapse" aria-expanded="false"
                            class="dropdown-toggle">Terminali</a>
                        <ul class="collapse list-unstyled" id="terminalsSubmenu">
                            <% for(let i=0; i < terminals.length; i++) { %>
                                <% if (terminals[i].Stato) { %>
                                    <li>
                                        <a href="/terminals/<%=terminals[i].rowID%>" style="color: rgb(137, 227, 137);">
                                            <%=terminals[i].Nome_Terminale%>
                                                <%=terminals[i].ID_Terminale%>
                                        </a>
                                    </li>
                                    <% } else { %>
                                        <li>
                                            <a href="/terminals/<%=terminals[i].rowID%>"
                                                style="color: rgb(240, 88, 116);">
                                                <%=terminals[i].Nome_Terminale%>
                                                    <%=terminals[i].ID_Terminale%>
                                            </a>
                                        </li>
                                        <% } %>
                                            <% } %>
                                                <li>
                                                    <a href="/terminals/add">Aggiungi un terminale</a>
                                                </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/transits">Transiti</a>
                    </li>
                </ul>
                <div class="footer">
                    <p>
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | <a
                            href="http://www.fonderiaditorbole.com/it/" target="_blank">FDT</a>
                    </p>
                </div>

            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">

            <h1 class="mt-3">Anagrafica</h1>
            <h5 class="mb-5">Qui puoi aggiungere, modificare ed eliminare elementi dall'anagrafica.</h5>
            <div class="table-responsive">
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Cognome</th>
                        <th scope="col">Abilitato</th>
                        <th scope="col">Badge timbrature</th>
                        <th scope="col">Badge accessi</th>
                        <th scope="col">Badge Aggiuntivo</th>
                        <th scope="col" >Opzioni</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i < anagraphic.length; i++) { %>
                        <tr>
                            <th class="align-middle" scope="row"><%=anagraphic[i].rowID%></th>
                            <td class="align-middle"><%=anagraphic[i].Nome%></td>
                            <td class="align-middle"><%=anagraphic[i].Cognome%></td>
                            <% if (anagraphic[i].Abilitato) { %>
                                <td class="align-middle">Si</td>
                            <% } else { %>
                                <td class="align-middle">No</td>
                            <% } %>
                            <td class="align-middle"><%=anagraphic[i].Badge_Timbrature%></td>
                            <td class="align-middle"><%=anagraphic[i].Badge_Accessi%></td>
                            <td class="align-middle"><%=anagraphic[i].Badge_Aggiuntivo%></td>
                            <td class="align-middle">
                                <button style="cursor: pointer;" class="mr-3 btn btn-secondary" onclick="editElement(<%=anagraphic[i].rowID%>)">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button style="cursor: pointer;" class="btn btn-danger" onclick="deleteElement(<%=anagraphic[i].rowID%>)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    <% } %>
                    <tr>
                        <td colspan="10">
                            <a style="display: flex; justify-content: center;" href="/anagraphic/add">Aggiungi un elemento</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
    <script>
        function editElement(rowID) {
            window.location.href = "/anagraphic/" + rowID + "/update"
        }

        function deleteElement(rowID) {
            if (confirm('Sei sicuro di voler eliminare questo elemento?'))
                window.location.href = "/anagraphic/" + rowID + "/delete"
        }
    </script>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

</body>

</html>